
	<div class="goodup-dashboard-content">
		<div class="dashboard-tlbar d-block mb-5">
			<div class="row">
				<div class="colxl-12 col-lg-12 col-md-12">
					<h1 class="ft-medium fs-lg">افزودن آگهی</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item text-muted"><a href="#">خانه</a></li>
							<li class="breadcrumb-item text-muted"><a href="#">داشبورد</a></li>
							<li class="breadcrumb-item"><a href="#" class="theme-cl">افزودن آگهی</a></li>
						</ol>
					</nav>
				</div>
			</div>
		</div>

		<div class="dashboard-widg-bar d-block">
			<div class="row">
				<div class="col-xl-12 col-lg-2 col-md-12 col-sm-12">
					<div class="submit-form">

						<!-- Listing Info -->
						<div class="dashboard-list-wraps bg-white rounded mb-4">
							<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
								<div class="dashboard-list-wraps-flx">
									<h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file ms-2 theme-cl fs-sm"></i>اطلاعات آگهی</h4>
								</div>
							</div>

							<div class="dashboard-list-wraps-body py-3 px-3">
								<div class="row">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<label class="mb-1">توضیحات</label>
											<input type="text" class="form-control rounded" placeholder="" />
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<label class="mb-1">برای تاریخ</label>
											<input type="date" class="form-control rounded" placeholder="برای تاریخ" />
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<div class="form-group">
											<label class="mb-1">دسته بندی</label>
											<select class="form-control">
												@foreach(var x in @ViewBag.Services)
												{
													<option value="@x.Id">@x.Name</option>
												}
											

											</select>
										</div>
									</div>

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<div class="form-group">
											<label class="mb-1">استان</label>
											<select class="form-control">
												@foreach (var x in @ViewBag.Cities)
												{
													<option value="@x.Id">@x.Titel</option>
												}


											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

						

						<!-- Image & Gallery Option -->
						<div class="dashboard-list-wraps bg-white rounded mb-4">
							<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
								<div class="dashboard-list-wraps-flx">
									<h4 class="mb-0 ft-medium fs-md"><i class="fa fa-camera ms-2 theme-cl fs-sm"></i>تصاویر</h4>
								</div>
							</div>

							<div class="dashboard-list-wraps-body py-3 px-3">
								<div class="row">


									<!-- Gallery -->
									<div class="col-lg-4 col-md-12">
										<label class="mb-1">گالری تصاویر</label>
										<form action="https://themezhub.net/file-upload" class="dropzone" id="gallery">
											<i class="fas fa-upload"></i>
										</form>
										<label class="smart-text">حداکثر حجم فایل: 2 مگابایت</label>
									</div>
								</div>
							</div>
						</div>

						<

						<!-- Amenties Options -->
						

						<!-- Social Links -->

					</div>
				</div>
			</div>

		</div>
